// ### Navbar ###
$navbarHeight: 66px;
$navbarFontSize: 1.8em;
// ### Media query width ###
$desktopMinWidth: 1000px;
// ### Posts ###
$postBodyFontSize: 18px;
$postBodyFontWeight: 400;
$postBodyFontFamily: 'Roboto Light', sans-serif;
// ### Post ###
$postTitleFontSize: 30px;
$postTitleFontWeight: 400;
$postTitleFontFamily: 'Roboto Light', sans-serif;

