@import "color";
@import "constant";

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: $darkgray;
    font-family: "Bebas Neue";
    z-index: 1;

    a {
        display: inline-block;
        line-height: $navbarHeight;
        padding: 0 10px;
        color: whitesmoke;
        text-decoration: none;
        font-size: 1.6em;
        z-index: 1;

        &:hover {
            color: orange;
        }
    }
}

@media screen and (min-width: 768px) {
    nav a {
    }
}

@media screen and (min-width: 1000px) {
    nav {
        max-width: 1000px;
        margin: auto;
    }
}

