@import "color";
@import "constant";

.navbar {
    width: 100%;
    background-color: $primaryBlack;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: "Bebas Neue";
    z-index: 1;

    a {
        display: inline-block;
        line-height: $navbarHeight;
        padding: 0 10px;
        color: $primaryWhite;
        text-decoration: none;
        font-size: $navbarFontSize;
        z-index: 1;

        &:hover {
            color: $primaryActiveYellow;
        }
    }
}


@media screen and (min-width: $desktopMinWidth) {
    nav {
        max-width: $desktopMinWidth;
        margin: auto;
    }
}

