@import "../color";
@import "../constant";

.posts {
    height: calc(100% - #{$navbarHeight});
    font-family: $postBodyFontFamily;
    font-size: $postBodyFontSize;
    font-weight: $postBodyFontWeight;
}

@media screen and (min-width: $desktopMinWidth) {
    .posts {
        max-width: $desktopMinWidth;
        margin: auto;
    }
}

.post {
    .title {
        display: inline-block;
        font-family: $postTitleFontFamily;
        font-size: $postTitleFontSize;
        font-weight: $postTitleFontWeight;
        color: $primaryLightBlack;
        text-transform: capitalize;
        padding: 12px 0;
        text-decoration: none;
        &:hover {
            color: #1f68b3;
        }
    }

    .preview {
        padding-bottom: 5px;
    }
    
    .category__tag {
        display: flex;
        color: $lightGrey;
        font-size: 12px;
        padding-bottom: 10px;
        .categories, .tags {
            flex: 1;
        }
        span {
            padding: 5px;
            border-radius: 5px;
            color: $primaryWhite;
        }
        .category {
            background-color: #ea9a06;
        }
        .tag {
            background-color: #1e88e5;
        }
    }

    .meta-info {
        color: $lightGrey;
        font-size: 12px;
        font-style: italic;
        hr {
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
}