@import "../color";
@import "../constant";

.posts {
    min-height: calc(100% - #{$navbarHeight});

    .pagination {
        font-family: $postBodyFontFamily;
        text-align: center;
        padding: 10px 0;
    }
}

@media screen and (min-width: $desktopMinWidth) {
    .posts {
        max-width: $desktopMinWidth;
        margin: auto;
    }
}

.post {
    width: 80%;
    margin: auto;
    font-family: $postBodyFontFamily;
    font-size: $postBodyFontSize;
    font-weight: $postBodyFontWeight;
    .title {
        display: inline-block;
        width: 100%;
        font-family: $postTitleFontFamily;
        font-size: $postTitleFontSize;
        font-weight: $postTitleFontWeight;
        color: $primaryLightBlack;
        text-transform: capitalize;
        padding: 12px 0;
        text-decoration: none;
    }

    a.title:hover {
        color: #1f68b3;
    }

    .category__tag {
        display: flex;
        flex-wrap: wrap;
        color: $lightGrey;
        font-size: 12px;
        padding-top: 4px;

        span {
            display: inline-block;
            padding: 5px;
            color: $primaryWhite;
        }
        .categories, .tags {
            flex: 1;
        }

        .category, .tag {
            user-select: none;
            background-color: #696969;
        }
        
        .category:hover {
            cursor: pointer;
            background-color: #ea9a06;
        }

        .tag:hover {
            cursor: pointer;
            background-color: #1e88e5;
        }
    }

    .meta-info {
        color: $lightGrey;
        font-size: 12px;
        font-style: italic;
        hr {
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
}

@media screen and (min-width: $tabletMinWidth) {
    .post {
        width: 85%;
        margin: auto;
    }
}

@media screen and (min-width: $desktopMinWidth) {
    .post {
        max-width: $desktopMinWidth;
        margin: auto;
    }
}